<a href="{{ "/archive" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Archive</h2></a>
<a href="{{ "/about" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">About</h2></a>
<a href="{{ "/hackthebox" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">HackTheBox</h2></a>
<a href="{{ "/ctf" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">CTF</h2></a>
<a href="https://twitter.john-woodman.com" target="_blank"><h2 class="header-link">HackerTwitter</h2></a>
<a href="{{ "/gardening" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Gardening</h2></a>
<a href="{{ "/atom.xml" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">RSS</h2></a>
<a href="https://twitter.com/JohnWoodman15" target="_blank"><h2 class="header-link"><img src="/assets/twitter.png" style="vertical-align:middle" width="45"/></h2></a>
<a href="https://github.com/JohnWoodman" target="_blank"><h2 class="header-link"><img src="/assets/github.png" style="vertical-align:middle; margin-left:-7px" width="45"/></h2></a>
